.title {
    color: rgb(245, 245, 245);
    font-size: 30px;
    text-align: center;
}

.input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    border-style: solid;
    width: 300px;
    height: 25px;
    text-align: center;
    border-color: black;
}   

.enter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    border-style: solid;
    width: 308px;
    height: 25px;
    text-align: center;
    border-color: black;
    cursor: pointer;
    margin-top: 2px;

}

.answer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    border-style: solid;
    width: 308px;
    height: 25px;
    text-align: center;
    border-color: black;
    cursor:help;
    margin-top: 2px;
}

.reset{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    border-style: solid;
    width: 308px;
    height: 25px;
    text-align: center;
    border-color: black;
    cursor:help;
    margin-top: 2px;
}

.tips{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    border-style: solid;
    width: 308px;
    height: 25px;
    text-align: center;
    border-color: black;
    cursor:help;
    margin-top: 2px;
}

.Result {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 308px;
    height: 25px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    background-color: white;

}